#
# Murata batteries readout
#
# bjornwennberg71@gmail.com
#
#
config.name    = Murata config # not in use
config.version = 0.1           # not in use

# TCP
modbusmq.connect = tcp://192.168.3.177

# TCP
#modbusmq.connect = tcp://192.168.3.177

# RTU
modbusmq.connect = rtu:///dev/ttyUSB-RS485_3:115200:1:8:E

#modbusmq.connect = /dev/ttyUSB4
#modbusmq.baudrate = 9600
#modbusmq.stopbit  = 1
#modbusmq.databit  = 8
#modbusmq.parity   = N

modbusmq.frame_timeout =  1000  # Default. Wait max 1s before giving up receiving a frame and discard it
modbusmq.rts_delay     = 10000  # 10 ms betweens writes to avoid losing frames (only for RTU)

# One input (request)
input.max = 1

input.1.slave          = 1
input.1.type           = input_register
input.1.address        = 0x0F
input.1.naddress       = 6
input.1.interval       = 5000
input.1.channel.max    = 6

# Nominal Voltage mV, 2 bytes, offset=0x000f
input.1.channel.1.offset  = 0
input.1.channel.1.format  = int_ab
input.1.channel.1.mod     = -1000
input.1.channel.1.topic   = voltage_nominal

# Rated Capacity mAh, 2 bytes, offset=0x0011
input.1.channel.2.offset  = 0x02 
input.1.channel.2.format  = int_ab
input.1.channel.2.mod     = -1000
input.1.channel.2.topic   = capacity_rated

# Max. Rated Voltage mV, 2 bytes, offset=0x0015
input.1.channel.3.offset  = 0x06
input.1.channel.3.format  = int_ab
input.1.channel.3.mod     = -1000
input.1.channel.3.topic   = voltage_rated_max

# Min. Rated Voltage mV, 2 bytes, offset=0x0017
input.1.channel.4.offset  = 0x08
input.1.channel.4.format  = int_ab
input.1.channel.4.mod     = -1000
input.1.channel.4.topic   = voltage_rated_min

# Max. Charge Current mA, 2 bytes, offset=0x0019
input.1.channel.5.offset  = 0x10
input.1.channel.5.format  = int_ab
input.1.channel.5.mod     = -1000
input.1.channel.5.topic   = current_charge_max

# Max. Discharge Current mA, 2 bytes, offset=0x001b
input.1.channel.6.offset  = 0x12
input.1.channel.6.format  = int_ab
input.1.channel.6.mod     = -1000
input.1.channel.6.topic   = current_discharge_max


mqtt.name    = murata_bms
mqtt.connect = mqtt://localhost:6660
mqtt.topic_prefix = murata/
