#
# Polarium SLB48-100-135-5
#
# bjornwennberg71@gmail.com
#
#

config.name    = Polarium config
config.version = 0.2

# TCP
#modbusmq.connect = tcp://localhost:1502

# RTU
modbusmq.connect = rtu:///dev/ttyUSB-RS485_3:115200:1:8:N

#modbusmq.frame_timeout =  1000  # Default. Wait max 1s before giving up receiving a frame and discard it
modbusmq.frame_timeout =  50000  # Debug. need more time if in gdb
modbusmq.rts_delay     = 10000  # 10 ms betweens writes to avoid losing frames (only for RTU)

# I have 2 polarium batteries
# Two input (request)
input.max = 1

input.1.slave          = 1
input.1.type           = holding_register
input.1.address        = 0x00
input.1.naddress       = 20
input.1.interval       = 10000
input.1.channel.max    = 20

input.2.slave          = 2
input.2.type           = input_register
input.2.address        = 0x0F
input.2.naddress       = 20
input.2.interval       = 10000
input.2.channel.max    = 20

input.1.channel.1.offset  = 0x00
input.1.channel.1.format  = int_ab
input.1.channel.1.topic   = 1/status_1
input.1.channel.1.value   = 0

input.1.channel.2.offset  = 2
input.1.channel.2.format  = int_ab
input.1.channel.2.mod     = -100
input.1.channel.2.topic   = 1/soc
input.1.channel.2.value   = 1111

input.1.channel.3.offset  = 4
input.1.channel.3.format  = int_ab
input.1.channel.3.mod     = -100
input.1.channel.3.topic   = 1/soh
input.1.channel.3.value   = 2222

input.1.channel.4.offset  = 6
input.1.channel.4.format  = int_ab
input.1.channel.4.mod     = -100
input.1.channel.4.topic   = 1/full_capacity
input.1.channel.4.value   = 10260

input.1.channel.5.offset  = 8
input.1.channel.5.format  = int_ab
input.1.channel.5.mod     = -100
input.1.channel.5.topic   = 1/voltage
input.1.channel.5.value   = 5460

input.1.channel.6.offset  = 10
input.1.channel.6.format  = int_ab
input.1.channel.6.mod     = -100
input.1.channel.6.topic   = 1/rail_voltage
input.1.channel.6.value   = 5450

input.1.channel.7.offset  = 12
input.1.channel.7.format  = int_ab
input.1.channel.7.mod     = -100
input.1.channel.7.topic   = 1/current
input.1.channel.7.value   = -3500

input.1.channel.8.offset  = 14
input.1.channel.8.format  = int_ab
input.1.channel.8.mod     = -1000
input.1.channel.8.topic   = 1/min_cell_voltage
input.1.channel.8.value   = 3000

input.1.channel.9.offset  = 16
input.1.channel.9.format  = int_ab
input.1.channel.9.mod     = -1000
input.1.channel.9.topic   = 1/max_cell_voltage
input.1.channel.9.value   = 4200

input.1.channel.10.offset = 18
input.1.channel.10.format = int_ab
input.1.channel.10.mod    = -1000
input.1.channel.10.topic  = 1/avg_cell_voltage
input.1.channel.10.value  = 3600

input.1.channel.11.offset = 20
input.1.channel.11.format = int_ab
input.1.channel.11.mod    = -10
input.1.channel.11.topic  = 1/min_cell_temp
input.1.channel.11.value  = -50

input.1.channel.12.offset = 22
input.1.channel.12.format = int_ab
input.1.channel.12.mod    = -10
input.1.channel.12.topic  = 1/max_cell_temp
input.1.channel.12.value  = 483

input.1.channel.13.offset = 24
input.1.channel.13.format = int_ab
input.1.channel.13.mod    = -10
input.1.channel.13.topic  = 1/fet_temp
input.1.channel.13.value  = 400

input.1.channel.14.offset = 26
input.1.channel.14.format = int_ab
input.1.channel.14.mod    = -10
input.1.channel.14.topic  = 1/afe_temp
input.1.channel.14.value  = 370

input.1.channel.15.offset = 28
input.1.channel.15.format = int_ab
input.1.channel.15.mod    = -10
input.1.channel.15.topic  = 1/mcu_temp
input.1.channel.15.value  = 410

input.1.channel.16.offset = 30
input.1.channel.16.format = int_ab
input.1.channel.16.mod    = -10
input.1.channel.16.topic  = 1/cld_temp
input.1.channel.16.value  = 390

input.1.channel.17.offset = 32
input.1.channel.17.format = int_ab
input.1.channel.17.mod    = -10
input.1.channel.17.topic  = 1/cell_temp_1
input.1.channel.17.value  = 370

input.1.channel.18.offset = 34
input.1.channel.18.format = int_ab
input.1.channel.18.mod    = -10
input.1.channel.18.topic  = 1/cell_temp_2
input.1.channel.18.value  = 360

input.1.channel.19.offset = 36
input.1.channel.19.format = int_ab
input.1.channel.19.topic  = 1/status_2
input.1.channel.19.value  = 0x0000

input.1.channel.20.offset = 38
input.1.channel.20.format = int_ab
input.1.channel.20.topic  = 1/cell_balancing
input.1.channel.20.value  = 0x0000

input.2.channel.1.offset  = 0x00
input.2.channel.1.format  = int_ab
input.2.channel.1.topic   = 2/status_1
input.2.channel.1.value   = 0
input.2.channel.2.offset  = 0x02
input.2.channel.2.format  = int_ab
input.2.channel.2.mod     = -100
input.2.channel.2.topic   = 2/soc
input.2.channel.2.value   = 7832
input.2.channel.3.offset  = 0x04
input.2.channel.3.format  = int_ab
input.2.channel.3.mod     = -100
input.2.channel.3.topic   = 2/soh
input.2.channel.3.value   = 9500
input.2.channel.4.offset  = 0x06
input.2.channel.4.format  = int_ab
input.2.channel.4.mod     = -100
input.2.channel.4.topic   = 2/full_capacity
input.2.channel.4.value   = 10260
input.2.channel.5.offset  = 0x08
input.2.channel.5.format  = int_ab
input.2.channel.5.mod     = -100
input.2.channel.5.topic   = 2/voltage
input.2.channel.5.value   = 5460
input.2.channel.6.offset  = 0x0A
input.2.channel.6.format  = int_ab
input.2.channel.6.mod     = -100
input.2.channel.6.topic   = 2/rail_voltage
input.2.channel.6.value   = 5450
input.2.channel.7.offset  = 0x0C
input.2.channel.7.format  = int_ab
input.2.channel.7.mod     = -100
input.2.channel.7.topic   = 2/current
input.2.channel.7.value   = -3500
input.2.channel.8.offset  = 0x0E
input.2.channel.8.format  = int_ab
input.2.channel.8.mod     = -1000
input.2.channel.8.topic   = 2/min_cell_voltage
input.2.channel.8.value   = 3000
input.2.channel.9.offset  = 0x10
input.2.channel.9.format  = int_ab
input.2.channel.9.mod     = -1000
input.2.channel.9.topic   = 2/max_cell_voltage
input.2.channel.9.value   = 4200
input.2.channel.10.offset = 0x12
input.2.channel.10.format = int_ab
input.2.channel.10.mod    = -1000
input.2.channel.10.topic  = 2/avg_cell_voltage
input.2.channel.10.value  = 3600
input.2.channel.11.offset = 0x14
input.2.channel.11.format = int_ab
input.2.channel.11.mod    = -10
input.2.channel.11.topic  = 2/min_cell_temp
input.2.channel.11.value  = -50
input.2.channel.12.offset = 0x16
input.2.channel.12.format = int_ab
input.2.channel.12.mod    = -10
input.2.channel.12.topic  = 2/max_cell_temp
input.2.channel.12.value  = 483
input.2.channel.13.offset = 0x18
input.2.channel.13.format = int_ab
input.2.channel.13.mod    = -10
input.2.channel.13.topic  = 2/fet_temp
input.2.channel.13.value  = 400
input.2.channel.14.offset = 0x1A
input.2.channel.14.format = int_ab
input.2.channel.14.mod    = -10
input.2.channel.14.topic  = 2/afe_temp
input.2.channel.14.value  = 370
input.2.channel.15.offset = 0x1C
input.2.channel.15.format = int_ab
input.2.channel.15.mod    = -10
input.2.channel.15.topic  = 2/mcu_temp
input.2.channel.15.value  = 410
input.2.channel.16.offset = 0x1E
input.2.channel.16.format = int_ab
input.2.channel.16.mod    = -10
input.2.channel.16.topic  = 2/cld_temp
input.2.channel.16.value  = 390
input.2.channel.17.offset = 0x20
input.2.channel.17.format = int_ab
input.2.channel.17.mod    = -10
input.2.channel.17.topic  = 2/cell_temp_1
input.2.channel.17.value  = 370
input.2.channel.18.offset = 0x22
input.2.channel.18.format = int_ab
input.2.channel.18.mod    = -10
input.2.channel.18.topic  = 2/cell_temp_2
input.2.channel.18.value  = 360
input.2.channel.19.offset = 0x24
input.2.channel.19.format = int_ab
input.2.channel.19.topic  = 2/status_2
input.2.channel.19.value  = 0x0000
input.2.channel.20.offset = 0x26
input.2.channel.20.format = int_ab
input.2.channel.20.topic  = 2/cell_balancing
input.2.channel.20.value  = 0x0000


mqtt.name    = polarium
mqtt.connect = mqtt://localhost:6660
mqtt.topic_prefix = polarium/battery/
