#
# Shoto V2 batteries readout
#
# bjornwennberg71@gmail.com
#
#
config.name    = Shoto V2 config # not in use
config.version = 0.3        # not in use

# TCP connect to device
#modbusmq.connect = tcp://localhost:1502

# RTU connect to device
#modbusmq.connect = rtu:///dev/ttyUSB-RS485_3:9600:1:8:N
modbusmq.connect = rtu:///dev/ttyUSB2:9600:1:8:N

#modbusmq.rts_delay = 50    # default
modbusmq.rts_delay =  5000    # Debug. Must be 30ms or higher to avoid losing frames

#modbusmq.frame_timeout = 300 # Default. Wait max 1s before giving up receiving a frame and discard it
modbusmq.frame_timeout = 500000 # Debug
#modbusmq.frame_timeout = 1000 # Debug

# One input  = one battery
#input.max              = 9
input.max              = 1
input.query_mode       = 1

input.1.slave          = 39
input.1.type           = input_register
input.1.address        = 0x0fff
input.1.naddress       = 0x27
input.1.interval       = 5000
input.1.channel.max    = 13

input.2.slave          = 40
input.2.type           = input_register
input.2.address        = 0x0fff
input.2.naddress       = 0x27
input.2.interval       = 1000
input.2.channel.max    = 13

input.3.slave          = 41
input.3.type           = input_register
input.3.address        = 0x0fff
input.3.naddress       = 0x27
input.3.interval       = 1000
input.3.channel.max    = 13

input.4.slave          = 42
input.4.type           = input_register
input.4.address        = 0x0fff
input.4.naddress       = 0x27
input.4.interval       = 1000
input.4.channel.max    = 13

input.5.slave          = 43
input.5.type           = input_register
input.5.address        = 0x0fff
input.5.naddress       = 0x27
input.5.interval       = 1000
input.5.channel.max    = 13

input.6.slave          = 44
input.6.type           = input_register
input.6.address        = 0x0fff
input.6.naddress       = 0x27
input.6.interval       = 1000
input.6.channel.max    = 13

input.7.slave          = 45
input.7.type           = input_register
input.7.address        = 0x0fff
input.7.naddress       = 0x27
input.7.interval       = 1000
input.7.channel.max    = 13

input.8.slave          = 46
input.8.type           = input_register
input.8.address        = 0x0fff
input.8.naddress       = 0x27
input.8.interval       = 1000
input.8.channel.max    = 13

input.9.slave          = 47
input.9.type           = input_register
input.9.address        = 0x0fff
input.9.naddress       = 0x27
input.9.interval       = 1000
input.9.channel.max    = 13

# Battery voltage
input.1.channel.1.offset  = 0
input.1.channel.1.format  = int_ab
input.1.channel.1.mod     = -100
input.1.channel.1.topic   = battery/module/1/voltage
input.1.channel.1.value   = 4800

# Current
input.1.channel.2.offset  = 2
input.1.channel.2.format  = int_ab
input.1.channel.2.mod     = -10
input.1.channel.2.mul     = -1
input.1.channel.2.add     = -10000
input.1.channel.2.topic   = battery/module/1/current
input.1.channel.2.value   =  10500

# Remaining capacity (Ah)
input.1.channel.3.offset  = 4
input.1.channel.3.format  = int_ab
input.1.channel.3.mod     = -10
input.1.channel.3.topic   = battery/module/1/remaining_capacity
input.1.channel.3.value   = 800

# Average cell temperature
input.1.channel.4.offset  = 6
input.1.channel.4.format  = int_ab
input.1.channel.4.mod     = -10
input.1.channel.4.add     = -400
input.1.channel.4.topic   = battery/module/1/avg_cell_temp
input.1.channel.4.value   = 434

# Environment temperature
input.1.channel.5.offset  = 8
input.1.channel.5.format  = int_ab
input.1.channel.5.mod     = -10
input.1.channel.5.add     = -400
input.1.channel.5.topic   = battery/module/1/env_temp
input.1.channel.5.value   = -24

# Warning flag
input.1.channel.6.offset  = 10
input.1.channel.6.format  = int_ab
input.1.channel.6.topic   = battery/module/1/warning_flag

# Protection flag
input.1.channel.7.offset  = 12
input.1.channel.7.format  = int_ab
input.1.channel.7.topic   = battery/module/1/protection_flag

# Fault status
input.1.channel.8.offset  = 14
input.1.channel.8.format  = int_ab
input.1.channel.8.topic   = battery/module/1/fault_status

# State of Charge (SoC)
input.1.channel.9.offset  = 16
input.1.channel.9.format  = int_ab
input.1.channel.9.mod     = -100
input.1.channel.9.topic   = battery/module/1/soc
input.1.channel.9.value   = 800

# State of Health (SoH)
input.1.channel.10.offset  = 18
input.1.channel.10.format  = int_ab
input.1.channel.10.mod     = -100
input.1.channel.10.topic   = battery/module/1/soh
input.1.channel.10.value   = 100

# Full capacity (Ah)
input.1.channel.11.offset  = 20
input.1.channel.11.format  = int_ab
input.1.channel.11.mod     = -10
input.1.channel.11.topic   = battery/module/1/full_capacity
input.1.channel.11.value   = 800

# Charge/discharge cycles
input.1.channel.12.offset  = 22
input.1.channel.12.format  = int_ab
input.1.channel.12.topic   = battery/module/1/cycle_count
input.1.channel.12.value   = 120

# Number of cells
input.1.channel.13.offset  = 24
input.1.channel.13.format  = int_ab
input.1.channel.13.topic   = battery/module/1/num_cells
input.1.channel.13.value   = 13


# Battery voltage
input.2.channel.1.offset  = 0
input.2.channel.1.format  = int_ab
input.2.channel.1.mod     = -100
input.2.channel.1.topic   = battery/module/2/voltage

# Current
input.2.channel.2.offset  = 2
input.2.channel.2.format  = int_ab
input.2.channel.2.mod     = -10
input.2.channel.2.mul     = -1
input.2.channel.2.add     = -10000
input.2.channel.2.topic   = battery/module/2/current

# Remaining capacity (Ah)
input.2.channel.3.offset  = 4
input.2.channel.3.format  = int_ab
input.2.channel.3.mod     = -10
input.2.channel.3.topic   = battery/module/2/remaining_capacity

# Average cell temperature
input.2.channel.4.offset  = 6
input.2.channel.4.format  = int_ab
input.2.channel.4.mod     = -10
input.2.channel.4.add     = -400
input.2.channel.4.topic   = battery/module/2/avg_cell_temp

# Environment temperature
input.2.channel.5.offset  = 8
input.2.channel.5.format  = int_ab
input.2.channel.5.mod     = -10
input.2.channel.5.add     = -400
input.2.channel.5.topic   = battery/module/2/env_temp

# Warning flag
input.2.channel.6.offset  = 10
input.2.channel.6.format  = int_ab
input.2.channel.6.topic   = battery/module/2/warning_flag

# Protection flag
input.2.channel.7.offset  = 12
input.2.channel.7.format  = int_ab
input.2.channel.7.topic   = battery/module/2/protection_flag

# Fault status
input.2.channel.8.offset  = 14
input.2.channel.8.format  = int_ab
input.2.channel.8.topic   = battery/module/2/fault_status

# State of Charge (SoC)
input.2.channel.9.offset  = 16
input.2.channel.9.format  = int_ab
input.2.channel.9.mod     = -100
input.2.channel.9.topic   = battery/module/2/soc

# State of Health (SoH)
input.2.channel.10.offset  = 18
input.2.channel.10.format  = int_ab
input.2.channel.10.mod     = -100
input.2.channel.10.topic   = battery/module/2/soh

# Full capacity (Ah)
input.2.channel.11.offset  = 20
input.2.channel.11.format  = int_ab
input.2.channel.11.mod     = -10
input.2.channel.11.topic   = battery/module/2/full_capacity

# Charge/discharge cycles
input.2.channel.12.offset  = 22
input.2.channel.12.format  = int_ab
input.2.channel.12.topic   = battery/module/2/cycle_count

# Number of cells
input.2.channel.13.offset  = 24
input.2.channel.13.format  = int_ab
input.2.channel.13.topic   = battery/module/2/num_cells


# Battery voltage
input.3.channel.1.offset  = 0
input.3.channel.1.format  = int_ab
input.3.channel.1.mod     = -100
input.3.channel.1.topic   = battery/module/3/voltage

# Current
input.3.channel.2.offset  = 2
input.3.channel.2.format  = int_ab
input.3.channel.2.mod     = -10
input.3.channel.2.mul     = -1
input.3.channel.2.add     = -10000
input.3.channel.2.topic   = battery/module/3/current

# Remaining capacity (Ah)
input.3.channel.3.offset  = 4
input.3.channel.3.format  = int_ab
input.3.channel.3.mod     = -10
input.3.channel.3.topic   = battery/module/3/remaining_capacity

# Average cell temperature
input.3.channel.4.offset  = 6
input.3.channel.4.format  = int_ab
input.3.channel.4.mod     = -10
input.3.channel.4.add     = -400
input.3.channel.4.topic   = battery/module/3/avg_cell_temp

# Environment temperature
input.3.channel.5.offset  = 8
input.3.channel.5.format  = int_ab
input.3.channel.5.mod     = -10
input.3.channel.5.add     = -400
input.3.channel.5.topic   = battery/module/3/env_temp

# Warning flag
input.3.channel.6.offset  = 10
input.3.channel.6.format  = int_ab
input.3.channel.6.topic   = battery/module/3/warning_flag

# Protection flag
input.3.channel.7.offset  = 12
input.3.channel.7.format  = int_ab
input.3.channel.7.topic   = battery/module/3/protection_flag

# Fault status
input.3.channel.8.offset  = 14
input.3.channel.8.format  = int_ab
input.3.channel.8.topic   = battery/module/3/fault_status

# State of Charge (SoC)
input.3.channel.9.offset  = 16
input.3.channel.9.format  = int_ab
input.3.channel.9.mod     = -100
input.3.channel.9.topic   = battery/module/3/soc

# State of Health (SoH)
input.3.channel.10.offset  = 18
input.3.channel.10.format  = int_ab
input.3.channel.10.mod     = -100
input.3.channel.10.topic   = battery/module/3/soh

# Full capacity (Ah)
input.3.channel.11.offset  = 20
input.3.channel.11.format  = int_ab
input.3.channel.11.mod     = -10
input.3.channel.11.topic   = battery/module/3/full_capacity

# Charge/discharge cycles
input.3.channel.12.offset  = 22
input.3.channel.12.format  = int_ab
input.3.channel.12.topic   = battery/module/3/cycle_count

# Number of cells
input.3.channel.13.offset  = 24
input.3.channel.13.format  = int_ab
input.3.channel.13.topic   = battery/module/3/num_cells

# Battery voltage
input.4.channel.1.offset  = 0
input.4.channel.1.format  = int_ab
input.4.channel.1.mod     = -100
input.4.channel.1.topic   = battery/module/4/voltage

# Current
input.4.channel.2.offset  = 2
input.4.channel.2.format  = int_ab
input.4.channel.2.mod     = -10
input.4.channel.2.mul     = -1
input.4.channel.2.add     = -10000
input.4.channel.2.topic   = battery/module/4/current

# Remaining capacity (Ah)
input.4.channel.3.offset  = 4
input.4.channel.3.format  = int_ab
input.4.channel.3.mod     = -10
input.4.channel.3.topic   = battery/module/4/remaining_capacity

# Average cell temperature
input.4.channel.4.offset  = 6
input.4.channel.4.format  = int_ab
input.4.channel.4.mod     = -10
input.4.channel.4.add     = -400
input.4.channel.4.topic   = battery/module/4/avg_cell_temp

# Environment temperature
input.4.channel.5.offset  = 8
input.4.channel.5.format  = int_ab
input.4.channel.5.mod     = -10
input.4.channel.5.add     = -400
input.4.channel.5.topic   = battery/module/4/env_temp

# Warning flag
input.4.channel.6.offset  = 10
input.4.channel.6.format  = int_ab
input.4.channel.6.topic   = battery/module/4/warning_flag

# Protection flag
input.4.channel.7.offset  = 12
input.4.channel.7.format  = int_ab
input.4.channel.7.topic   = battery/module/4/protection_flag

# Fault status
input.4.channel.8.offset  = 14
input.4.channel.8.format  = int_ab
input.4.channel.8.topic   = battery/module/4/fault_status

# State of Charge (SoC)
input.4.channel.9.offset  = 16
input.4.channel.9.format  = int_ab
input.4.channel.9.mod     = -100
input.4.channel.9.topic   = battery/module/4/soc

# State of Health (SoH)
input.4.channel.10.offset  = 18
input.4.channel.10.format  = int_ab
input.4.channel.10.mod     = -100
input.4.channel.10.topic   = battery/module/4/soh

# Full capacity (Ah)
input.4.channel.11.offset  = 20
input.4.channel.11.format  = int_ab
input.4.channel.11.mod     = -10
input.4.channel.11.topic   = battery/module/4/full_capacity

# Charge/discharge cycles
input.4.channel.12.offset  = 22
input.4.channel.12.format  = int_ab
input.4.channel.12.topic   = battery/module/4/cycle_count

# Number of cells
input.4.channel.13.offset  = 24
input.4.channel.13.format  = int_ab
input.4.channel.13.topic   = battery/module/4/num_cells

# Battery voltage
input.5.channel.1.offset  = 0
input.5.channel.1.format  = int_ab
input.5.channel.1.mod     = -100
input.5.channel.1.topic   = battery/module/5/voltage

# Current
input.5.channel.2.offset  = 2
input.5.channel.2.format  = int_ab
input.5.channel.2.mod     = -10
input.5.channel.2.mul     = -1
input.5.channel.2.add     = -10000
input.5.channel.2.topic   = battery/module/5/current

# Remaining capacity (Ah)
input.5.channel.3.offset  = 4
input.5.channel.3.format  = int_ab
input.5.channel.3.mod     = -10
input.5.channel.3.topic   = battery/module/5/remaining_capacity

# Average cell temperature
input.5.channel.4.offset  = 6
input.5.channel.4.format  = int_ab
input.5.channel.4.mod     = -10
input.5.channel.4.add     = -400
input.5.channel.4.topic   = battery/module/5/avg_cell_temp

# Environment temperature
input.5.channel.5.offset  = 8
input.5.channel.5.format  = int_ab
input.5.channel.5.mod     = -10
input.5.channel.5.add     = -400
input.5.channel.5.topic   = battery/module/5/env_temp

# Warning flag
input.5.channel.6.offset  = 10
input.5.channel.6.format  = int_ab
input.5.channel.6.topic   = battery/module/5/warning_flag

# Protection flag
input.5.channel.7.offset  = 12
input.5.channel.7.format  = int_ab
input.5.channel.7.topic   = battery/module/5/protection_flag

# Fault status
input.5.channel.8.offset  = 14
input.5.channel.8.format  = int_ab
input.5.channel.8.topic   = battery/module/5/fault_status

# State of Charge (SoC)
input.5.channel.9.offset  = 16
input.5.channel.9.format  = int_ab
input.5.channel.9.mod     = -100
input.5.channel.9.topic   = battery/module/5/soc

# State of Health (SoH)
input.5.channel.10.offset  = 18
input.5.channel.10.format  = int_ab
input.5.channel.10.mod     = -100
input.5.channel.10.topic   = battery/module/5/soh

# Full capacity (Ah)
input.5.channel.11.offset  = 20
input.5.channel.11.format  = int_ab
input.5.channel.11.mod     = -10
input.5.channel.11.topic   = battery/module/5/full_capacity

# Charge/discharge cycles
input.5.channel.12.offset  = 22
input.5.channel.12.format  = int_ab
input.5.channel.12.topic   = battery/module/5/cycle_count

# Number of cells
input.5.channel.13.offset  = 24
input.5.channel.13.format  = int_ab
input.5.channel.13.topic   = battery/module/5/num_cells

# Battery voltage
input.6.channel.1.offset  = 0
input.6.channel.1.format  = int_ab
input.6.channel.1.mod     = -100
input.6.channel.1.topic   = battery/module/6/voltage

# Current
input.6.channel.2.offset  = 2
input.6.channel.2.format  = int_ab
input.6.channel.2.mod     = -10
input.6.channel.2.mul     = -1
input.6.channel.2.add     = -10000
input.6.channel.2.topic   = battery/module/6/current

# Remaining capacity (Ah)
input.6.channel.3.offset  = 4
input.6.channel.3.format  = int_ab
input.6.channel.3.mod     = -10
input.6.channel.3.topic   = battery/module/6/remaining_capacity

# Average cell temperature
input.6.channel.4.offset  = 6
input.6.channel.4.format  = int_ab
input.6.channel.4.mod     = -10
input.6.channel.4.add     = -400
input.6.channel.4.topic   = battery/module/6/avg_cell_temp

# Environment temperature
input.6.channel.5.offset  = 8
input.6.channel.5.format  = int_ab
input.6.channel.5.mod     = -10
input.6.channel.5.add     = -400
input.6.channel.5.topic   = battery/module/6/env_temp

# Warning flag
input.6.channel.6.offset  = 10
input.6.channel.6.format  = int_ab
input.6.channel.6.topic   = battery/module/6/warning_flag

# Protection flag
input.6.channel.7.offset  = 12
input.6.channel.7.format  = int_ab
input.6.channel.7.topic   = battery/module/6/protection_flag

# Fault status
input.6.channel.8.offset  = 14
input.6.channel.8.format  = int_ab
input.6.channel.8.topic   = battery/module/6/fault_status

# State of Charge (SoC)
input.6.channel.9.offset  = 16
input.6.channel.9.format  = int_ab
input.6.channel.9.mod     = -100
input.6.channel.9.topic   = battery/module/6/soc

# State of Health (SoH)
input.6.channel.10.offset  = 18
input.6.channel.10.format  = int_ab
input.6.channel.10.mod     = -100
input.6.channel.10.topic   = battery/module/6/soh

# Full capacity (Ah)
input.6.channel.11.offset  = 20
input.6.channel.11.format  = int_ab
input.6.channel.11.mod     = -10
input.6.channel.11.topic   = battery/module/6/full_capacity

# Charge/discharge cycles
input.6.channel.12.offset  = 22
input.6.channel.12.format  = int_ab
input.6.channel.12.topic   = battery/module/6/cycle_count

# Number of cells
input.6.channel.13.offset  = 24
input.6.channel.13.format  = int_ab
input.6.channel.13.topic   = battery/module/6/num_cells

# Battery voltage
input.7.channel.1.offset  = 0
input.7.channel.1.format  = int_ab
input.7.channel.1.mod     = -100
input.7.channel.1.topic   = battery/module/7/voltage

# Current
input.7.channel.2.offset  = 2
input.7.channel.2.format  = int_ab
input.7.channel.2.mod     = -10
input.7.channel.2.mul     = -1
input.7.channel.2.add     = -10000
input.7.channel.2.topic   = battery/module/7/current

# Remaining capacity (Ah)
input.7.channel.3.offset  = 4
input.7.channel.3.format  = int_ab
input.7.channel.3.mod     = -10
input.7.channel.3.topic   = battery/module/7/remaining_capacity

# Average cell temperature
input.7.channel.4.offset  = 6
input.7.channel.4.format  = int_ab
input.7.channel.4.mod     = -10
input.7.channel.4.add     = -400
input.7.channel.4.topic   = battery/module/7/avg_cell_temp

# Environment temperature
input.7.channel.5.offset  = 8
input.7.channel.5.format  = int_ab
input.7.channel.5.mod     = -10
input.7.channel.5.add     = -400
input.7.channel.5.topic   = battery/module/7/env_temp

# Warning flag
input.7.channel.6.offset  = 10
input.7.channel.6.format  = int_ab
input.7.channel.6.topic   = battery/module/7/warning_flag

# Protection flag
input.7.channel.7.offset  = 12
input.7.channel.7.format  = int_ab
input.7.channel.7.topic   = battery/module/7/protection_flag

# Fault status
input.7.channel.8.offset  = 14
input.7.channel.8.format  = int_ab
input.7.channel.8.topic   = battery/module/7/fault_status

# State of Charge (SoC)
input.7.channel.9.offset  = 16
input.7.channel.9.format  = int_ab
input.7.channel.9.mod     = -100
input.7.channel.9.topic   = battery/module/7/soc

# State of Health (SoH)
input.7.channel.10.offset  = 18
input.7.channel.10.format  = int_ab
input.7.channel.10.mod     = -100
input.7.channel.10.topic   = battery/module/7/soh

# Full capacity (Ah)
input.7.channel.11.offset  = 20
input.7.channel.11.format  = int_ab
input.7.channel.11.mod     = -10
input.7.channel.11.topic   = battery/module/7/full_capacity

# Charge/discharge cycles
input.7.channel.12.offset  = 22
input.7.channel.12.format  = int_ab
input.7.channel.12.topic   = battery/module/7/cycle_count

# Number of cells
input.7.channel.13.offset  = 24
input.7.channel.13.format  = int_ab
input.7.channel.13.topic   = battery/module/7/num_cells

# Battery voltage
input.8.channel.1.offset  = 0
input.8.channel.1.format  = int_ab
input.8.channel.1.mod     = -100
input.8.channel.1.topic   = battery/module/8/voltage

# Current
input.8.channel.2.offset  = 2
input.8.channel.2.format  = int_ab
input.8.channel.2.mod     = -10
input.8.channel.2.mul     = -1
input.8.channel.2.add     = -10000
input.8.channel.2.topic   = battery/module/8/current

# Remaining capacity (Ah)
input.8.channel.3.offset  = 4
input.8.channel.3.format  = int_ab
input.8.channel.3.mod     = -10
input.8.channel.3.topic   = battery/module/8/remaining_capacity

# Average cell temperature
input.8.channel.4.offset  = 6
input.8.channel.4.format  = int_ab
input.8.channel.4.mod     = -10
input.8.channel.4.add     = -400
input.8.channel.4.topic   = battery/module/8/avg_cell_temp

# Environment temperature
input.8.channel.5.offset  = 8
input.8.channel.5.format  = int_ab
input.8.channel.5.mod     = -10
input.8.channel.5.add     = -400
input.8.channel.5.topic   = battery/module/8/env_temp

# Warning flag
input.8.channel.6.offset  = 10
input.8.channel.6.format  = int_ab
input.8.channel.6.topic   = battery/module/8/warning_flag

# Protection flag
input.8.channel.7.offset  = 12
input.8.channel.7.format  = int_ab
input.8.channel.7.topic   = battery/module/8/protection_flag

# Fault status
input.8.channel.8.offset  = 14
input.8.channel.8.format  = int_ab
input.8.channel.8.topic   = battery/module/8/fault_status

# State of Charge (SoC)
input.8.channel.9.offset  = 16
input.8.channel.9.format  = int_ab
input.8.channel.9.mod     = -100
input.8.channel.9.topic   = battery/module/8/soc

# State of Health (SoH)
input.8.channel.10.offset  = 18
input.8.channel.10.format  = int_ab
input.8.channel.10.mod     = -100
input.8.channel.10.topic   = battery/module/8/soh

# Full capacity (Ah)
input.8.channel.11.offset  = 20
input.8.channel.11.format  = int_ab
input.8.channel.11.mod     = -10
input.8.channel.11.topic   = battery/module/8/full_capacity

# Charge/discharge cycles
input.8.channel.12.offset  = 22
input.8.channel.12.format  = int_ab
input.8.channel.12.topic   = battery/module/8/cycle_count

# Number of cells
input.8.channel.13.offset  = 24
input.8.channel.13.format  = int_ab
input.8.channel.13.topic   = battery/module/8/num_cells

# Battery voltage
input.9.channel.1.offset  = 0
input.9.channel.1.format  = int_ab
input.9.channel.1.mod     = -100
input.9.channel.1.topic   = battery/module/9/voltage

# Current
input.9.channel.2.offset  = 2
input.9.channel.2.format  = int_ab
input.9.channel.2.mod     = -10
input.9.channel.2.mul     = -1
input.9.channel.2.add     = -10000
input.9.channel.2.topic   = battery/module/9/current

# Remaining capacity (Ah)
input.9.channel.3.offset  = 4
input.9.channel.3.format  = int_ab
input.9.channel.3.mod     = -10
input.9.channel.3.topic   = battery/module/9/remaining_capacity

# Average cell temperature
input.9.channel.4.offset  = 6
input.9.channel.4.format  = int_ab
input.9.channel.4.mod     = -10
input.9.channel.4.add     = -400
input.9.channel.4.topic   = battery/module/9/avg_cell_temp

# Environment temperature
input.9.channel.5.offset  = 8
input.9.channel.5.format  = int_ab
input.9.channel.5.mod     = -10
input.9.channel.5.add     = -400
input.9.channel.5.topic   = battery/module/9/env_temp

# Warning flag
input.9.channel.6.offset  = 10
input.9.channel.6.format  = int_ab
input.9.channel.6.topic   = battery/module/9/warning_flag

# Protection flag
input.9.channel.7.offset  = 12
input.9.channel.7.format  = int_ab
input.9.channel.7.topic   = battery/module/9/protection_flag

# Fault status
input.9.channel.8.offset  = 14
input.9.channel.8.format  = int_ab
input.9.channel.8.topic   = battery/module/9/fault_status

# State of Charge (SoC)
input.9.channel.9.offset  = 16
input.9.channel.9.format  = int_ab
input.9.channel.9.mod     = -100
input.9.channel.9.topic   = battery/module/9/soc

# State of Health (SoH)
input.9.channel.10.offset  = 18
input.9.channel.10.format  = int_ab
input.9.channel.10.mod     = -100
input.9.channel.10.topic   = battery/module/9/soh

# Full capacity (Ah)
input.9.channel.11.offset  = 20
input.9.channel.11.format  = int_ab
input.9.channel.11.mod     = -10
input.9.channel.11.topic   = battery/module/9/full_capacity

# Charge/discharge cycles
input.9.channel.12.offset  = 22
input.9.channel.12.format  = int_ab
input.9.channel.12.topic   = battery/module/9/cycle_count

# Number of cells
input.9.channel.13.offset  = 24
input.9.channel.13.format  = int_ab
input.9.channel.13.topic   = battery/module/9/num_cells




mqtt.name    = unit_battery
mqtt.connect = mqtt://localhost:6660
mqtt.topic_prefix = shoto/

